<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/user/login" method="post" id="form">
        <input type="email" name="email" placeholder="email" id="email">
        <input type="text" name="password" placeholder="password" id="password">
        <input type="submit">
    </form>
</body>
</html>