<!DOCTYPE html>
<html>
  <head>
    <title>Your Website</title>
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      .navbar {
        background-color: crimson; 
        color: white; 
        padding: 20px;
        margin-bottom: 30px;
      }
      .navbar ul {
        list-style-type: none;
        display: flex;
        justify-content: space-evenly; 
        padding: 0;
      }
      .navbar li {
        margin: 0 15px; 
      }
      .navbar a {
        text-decoration: none;
        color: white; 
      }
    </style>
  </head>
  <body>
    <div class="navbar">
      <ul>
        <li><a href="/blog/">Home</a></li>
        <li><a href="/blog/create">Add Blogs</a></li>
        <li><a href="/user/signup">Sign Up</a></li>
        <li><a href="/user/login">Login</a></li>
      </ul>
    </div>
  </body>
</html>