<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/user/signup" method="post" id="form">
        <input type="text" name="username" placeholder="username" id="username">
        <input type="text" name="password" placeholder="password" id="password">
        <input type="email" name="email" placeholder="email" id="email">
        <select name="role" default="user" id="role">
            <option value="user" >user</option>
            <option value="admin" >admin</option>
        </select>
        <input type="submit">
    </form>
</body>
</html>